.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ul {
  list-style-type: none;
} */

.green-box {
  background-color: palegreen;
  width: 600px;
  height: 400px;
  text-align: center;
}
.blue-box {
  background-color: paleturquoise;
  width: 550px;
  height: 350px;
  display: inline-block;
  margin-top: 4.4%;
}
.pink-box {
  background-color: lightpink;
  width: 500px;
  height: 300px;
  display: inline-block;
  margin-top: 4.4%;
}
.purple-div {
  margin: 6%;
}

.purple-box1,
.purple-box2 {
  background-color: plum;
  width: 320px;
  height: 110px;
  display: inline-block;
  margin: 1% 0;
}
