body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 0;
}
.right-nav {
  flex-grow: 3;
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
}
.left-nav {
  flex-grow: 5;
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  margin-right: 7%;
}
.nav-link {
  text-decoration: none;
  color: black;
}
.fa-mobile-alt {
  font-size: 150%;
}
.main-page {
  background-color: salmon;
  height: 85vh;
  color: white;
  text-align: center;
}
.header {
  display: inline-block;
  width: 42%;
}
.title {
  padding-top: 8%;
}
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}
.column {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 180px;
  padding: 0 3%;
}
.circles {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  text-align: center;
}
.circle-1 {
  background-color: #35384a;
}
.circle-2 {
  background-color: #e85a59;
}
.circle-3 {
  background-color: #36aa9d;
}
.main-fas {
  font-size: 85px;
  margin-top: 25%;
}
.text {
  font-size: 14px;
  font-weight: bold;
  padding-top: 10%;
}
.sub {
  padding-top: 10%;
}
.sub-text {
  font-size: 13px;
}

/* .App {
  text-align: center;
}
 .green-box {
  background-color: palegreen;
  width: 600px;
  height: 400px;
  text-align: center;
}
.blue-box {
  background-color: paleturquoise;
  width: 550px;
  height: 350px;
  display: inline-block;
  margin-top: 4.4%;
}
.pink-box {
  background-color: lightpink;
  width: 500px;
  height: 300px;
  display: inline-block;
  margin-top: 4.4%;
}
.purple-div {
  margin: 6%;
}

.purple-box1,
.purple-box2 {
  background-color: plum;
  width: 320px;
  height: 110px;
  display: inline-block;
  margin: 1% 0;
} */
